<!-- templates/index.html -->
{% extends "base.html" %}

{% block content %}
<div class="shop-landing">
  <div class="shop-section">
    <h2 class="shop-title">SHOP MENSWEAR</h2>
    <a href="{{ url_for('category', category='Men') }}">
      <img src="{{ url_for('static', filename='images/home_men.jpg') }}" alt="Menswear" class="shop-image">
    </a>
  </div>
  <div class="shop-section">
    <h2 class="shop-title">SHOP WOMENSWEAR</h2>
    <a href="{{ url_for('category', category='Women') }}">
      <img src="{{ url_for('static', filename='images/home_women.jpg') }}" alt="Womenswear" class="shop-image">
    </a>
  </div>
</div>
{% endblock %}
